body{
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    border-color: #5f9341;
    min-width: 400px;
}

#input-el{
    border: 1px solid #5f9341;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    box-sizing: border-box;
}

button{
background-color: #5f9341;
color: white;
padding: 10px 20px; 
border: 1px solid #5f9341 ;
margin: 4px;
font-weight:bolder }

#delete-btn{
    background-color: white;
    color: #5f9341;

}

div{
    background-color: cyan;
    color: rgb(223, 10, 10);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    padding-left: 40px;
    padding-bottom: 40px;
    padding-top: 40px;
    padding-right: 140px;
}

ul{
    text-decoration: none;
    list-style: none;
    padding-left: 0;
    
}

li{
margin-top: 5px;

}

a{
    color: #5f9341;
}